<div class="card conditions-card">
  <div class="card-header text-center">
    <h1>Conditions générales</h1>
  </div>
  <div class="card-body">
    <strong>Prix</strong><br>
    <br>
    Les prix de ce catalogue sont indiqués en franc suisse (CHF), montants nets, TVA comprise.<br>
    <br>
    <strong>Disponibilité</strong><br>
    <br>
    Notre engagement de livraison est nul en cas de défaillance ou non-respect des délais d'approvisionnement de la par de nos propres fournisseurs, et dans la mesure où cette indisponibilité n'est pas imputable au Loupbar.<br>
    En cas d'insponibilité d'un produit nous vous en informerons dans les meilleurs délais.<br>
    <br>
    Les disponilités sont indiqués dans les trois catégories suivantes :<br>
    <br>
    Ajouter au panier : le produit est en stock dans notre boutique.<br>
    <br>
    Sur commande : le produit n'est pas en stock dans notre boutique mais peut être commandé via nos fournisseurs.<br>
    <br>
    Précommander : le produit sera disponible à sa date de sortie.<br>
    <br>
    <strong>Paiements</strong><br>
    <br>
    Nous acceptions les méthodes de paiements suivantes : cash en boutique, Paypal (temporairement indisponible), Carte de crédit, Twint ou virement bancaire.<br>
    <br>
    Vous pouvez modifier votre méthode de paiement à tout moment tant que celle ci n'a pas été payée.<br>
    <br>
    En cas de problème pour le paiement n'hésitez pas à nous contacter via le formulaire de contact.<br>
    <br>
    <strong>Garanties légales</strong><br>
    <br>
    Vérifiez l'état des marchandises livrées sans attendre pour exclure les vices de matière et de fabrication manifestes, ainsi que des dommages dus au transports.<br>
    Conrmément à la loi, vous devez nous signaler tout défaut ou anomalie affectant les marchandises livrées pour nous permettre d'y remédier dans les 10 jours à compter de la réception de la marchandise.<br>
    <br>
    <strong>Informatique et libertés</strong><br>
    <br>
    Toutes les données à caracrète personnel seront considérées comme confidentielles. Les informations nécessaires à la gestion de la commande feron l'objet d'un traitement informatique et peuvent être communiquées à des entreprises associées dans le cadre de la gestion de la commande.<br>
    <br>
  </div>
</div>
