<div class="card livraison-card">
  <div class="card-header text-center">
    <h1>Livraison</h1>
  </div>
  <div class="card-body">
    Pour l'instant nous livrons uniquement en Suisse. <br>
    <br>
    Les frais de ports sont fixés à 7.00 CHF.<br>
    <br>
    Le délai de livraison se situe entre 1 et 3 jours ouvrables.<br>
    <br>
    Les colis sont envoyé par la poste Suisse avec un numéro de suivi indiqué dans les détails de la commande.<br>
    <br>
    Si vous êtes situé à l'étrangé mais que vous êtes quand même intéressé par des articles veuillez nous contacter via le <a href=<%= contact_index_path %>>formulaire de contact </a>.<br>
  </div>
</div>
