<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Boutique
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <% get_categories.each do |category| %>
      <% p 'result----->' + category.name %>
      <li><a class="dropdown-item" href=<%= boutique_index_path + '?category='+category.id.to_s%>><%= category.name %></a></li>
    <% end %>
  </ul>
</div>
