<br>
<div class="row align-items-start">
  <div class="col">
    INFORMATIONS IMPORTANTES...
  </div>
  <div class="col">
    Tel : 07777777777
  </div>
  <div class="col">
    Email : loupbar@email.com.
  </div>
</div>
