<%= link_to image_tag("CHAR1.png", class:"characters"), "/products" %>
<%= link_to image_tag("CHAR2.png", class:"characters"), "/products" %>
<%= link_to image_tag("CHAR3.png", class:"characters"), "/products" %>
<%= link_to image_tag("CHAR4.png", class:"characters"), "/products" %>
<div class="row">
<div class="column">
<h1>Page accueil Loupbar</h1>
<p>En construction...</p>
<p>Actuellement fonctionne uniquement sur PC !!!</p>
<h1> FACEBOOK </h1>
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLeloupbarRey%2F&tabs=timeline&width=500&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
<div class="column">
<h1>JUSTE UNE IMAGE POUR REMPLIR</h1>
<img src="https://michelzbinden.com/images/2020/vi/fr/calendrier-septembre-2020-geneve.jpg" class="img-fluid">
</div>
</div>

