<%= render 'navtab' %>
<h1>Ã‰diter commande</h1>
<%= render 'form', order: @order %>
<br>
<%= link_to 'Voir ðŸ”Ž', @order, class:"btn btn-light" %>
<%= link_to 'Retour â¬…ï¸', orders_path, class:"btn btn-light" %>
