<div class="card-body">
  Choix de paiement : Twint
  <%= image_tag("twint.png", class:"boutique-img")%>
  à implémenter
  <div class="card-body">
    <strong>Changer de méthode de paiement</strong>
    <div class="row">
      <div class="col-12 col-md-4">
        <%= image_tag("store.png", class:"boutique-img")%>
        Magasin
      </div>
      <div class="col-12 col-md-4">
      <%= image_tag("paypalcard.png", class:"boutique-img")%>
        Paypal ou carte de crédit <strong>(frais 3,3% + 0,45CHF)</strong>
      </div>
      <div class="col-12 col-md-4">
        <%= image_tag("bank.png", class:"boutique-img")%>
        Virement bancaire
      </div>
    </div>
  </div>
</div>
