<%= image_tag 'loupbar.png' %>
<h1>Envoi de la commande <%= @order.id %></h1>

<p>Bonjour <%= @order.user.first_name + ' ' + @order.user.last_name %> ,
<br><br>
Votre commande a été envoyée.
<br>
<% if @order.tracking != nil %>
<br>
Numéro de suivi :  <%= @order.tracking %>
<br>
<% end %>
