<h1>Inscription à l'évènement <%= @participant.event.name %></h1>

<p>Bonjour <%= @participant.user.first_name + ' ' + @participant.user.last_name %> ,
<br><br>
Vous êtes inscrit à l'évènement <%= @participant.event.name %>
<br>
Date de l'évènement : <%= @participant.event.date %>
<br>