// Place all the styles related to the boutique controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.boutique-img {
    height: 150px !important;
    width: auto !important;
    
}

.card-boutique {
    text-align: center;
    max-height: 100% !important;
    max-width: 100% !important;

}

.input-boutique {
    width: 30%;
    margin: 10px;
}

.card-title {
    min-height: 300% !important;
    word-break: break-word;
}

@media (max-width : 400px) {
    .row-cols-auto {width: 300px;}
    .boutique-img {max-width: 280px;}
}