// Place all the styles related to the boutique controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.boutique-img {
    height: auto !important;
    width: auto !important;
    max-width: 100% !important;
    max-height: 175px !important;
    
    
}

.card-boutique {
    text-align: center;
    max-height: 100% !important;
    max-width: 100% !important;
    margin-top: 10px;
    margin-bottom: 10px;

}

.input-boutique {
    width: 30%;
    margin: 10px;
}


.card-title {
    min-height: 300% !important;
    word-break: break-word;
}
.prod-row {
    border-style:none !important;
}
.prod-col {
    margin-bottom: 10px;
}



@media (max-width : 400px) {
    .row-cols-auto {width: 300px;}
    .boutique-img {max-width: 280px;}
}