// Place all the styles related to the boutique controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.boutique-img {
    max-height: 100px;
    width: auto;
}

.card-boutique {
    text-align: center;
    height: 75%;
}

.input-boutique {
    width: 30%;
    margin: 10px;
}
