// Place all the styles related to the evenements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.row {
    width: 100%;
    background-color: white;
}

.col-6 {
    margin-bottom: 10px;
    align-self: center;
}

.event-img {

    width: auto !important;
    max-width: 100%;
    height: 175px !important;;
    object-fit: scale-down !important;
    
    
}

.event-card {
    margin-bottom: 30%;
}