.footer-row {
    border-top-color: rgba(2, 2, 2, 0.7) !important;
    border-width: 2px;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

.footer-payment-row {
    background-color: transparent;
    border-style: none !important;
}

.footer-col {
    margin-bottom: 20px;
    
}
.footer-img {
    height: 75px;
    width: 100%;
    object-fit: scale-down;
}

.reference {
    font-size: 10px;
}