.header {
  text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 900px;
  }

  .navbar-nav {
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: bold;
    font-size: large;
    float:none;
    margin: auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    
}

.offcanvas {
  max-width: 270px;
  z-index: 10001;
}

@media only screen and (max-width : 1251px) {
  .desktop {display: none;}
}

@media only screen and (min-width : 1252px) {
  .mobile {display: none;}
}

.mobileButton {
  
  position:fixed;
  z-index: 10000;
  width: 100px;
  height: 35px;
  background-repeat: no-repeat;
  background-size:contain;
  background-color: transparent;
  border: none;
  top: 0px;
  left: 0px;
  text-align: left;
  vertical-align: middle;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: bold;

}

.img-header {
  position:fixed;
  height: 35px;
  width: auto;
  top: 0px;
  left: 50%;
  margin-left: -70px;
}

.cartButton {
  
  position:fixed;
  z-index: 10000;
  width: 80px;
  height: 35px;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: transparent;
  text-align: right;
  border: none;
  font-size: 16px;
  top: 0px;
  right: 0px;
  color: black;
  font-weight: bold;


}
.wideButton {
  
  position:fixed;
  z-index: 100;
  width: 100%;
  height: 36px;
  background-repeat: no-repeat;
  
  background-size:cover;
  top: 0px;
  right: 0px;

  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;

  

}
