.header {
  text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    min-width: 900px;
  }

  .navbar-nav {
    font-family: 'Courier New', Courier, monospace !important;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    
}

.offcanvas {
  max-width: 270px;
  z-index: 10001;
}

@media only screen and (max-width : 1160px) {
  .desktop {display: none;}
}

@media only screen and (min-width : 1161px) {
  .mobile {display: none;}
}

.mobileButton {
  
  position:fixed;
  z-index: 10000;
  width: 120px;
  height: 32px;
  
  background-repeat: no-repeat;
  background-size:cover;
  top: 0px;
  left: 0px;

}

