// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.column {
  text-align: center !important;
    float: left;
    
  }

  @media only screen and (max-width : 1115px) {
    .column {width: 100%;}
  }
  
  @media only screen and (min-width : 1116px) {
    .column {width: 50%;}
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .characters {
    width: 24%;
  }


  .row {
      background-color: orange;
      border-style: solid;
      border-color: orangered;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
  }



