// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .characters {
    width: 19%;
  }

  .row {
      background-color: rgb(245, 170, 86);
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
  }



