<%= render 'navtab' %>
<h1>Ã‰diter produit</h1>
<%= render 'form', product: @product %>
<%= link_to 'Voir ðŸ”Ž', @product, class:"btn btn-light" %>
<%= link_to 'Retour â¬…ï¸', products_path, class:"btn btn-light" %>
