<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Loupbar</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      /* Email styles need to be inline */
      table, th, td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <%= yield %>
    <br>
    <p>
      Nous vous remercions pour votre fidélité.
      <br>
      <br>
      Le Loupbar
      <br>
      <br>
      www.loupbar.com<br>
      <br>
      Rte de Praz-Repos 26<br>
      1084 Carrouge
    </p>
  </body>
</html>
